#problems{
    width: 50%;
    margin-left: 20%;
}

.Jumbotron{
    margin-top: 1%;
}

#jumbo-title{
    text-align: center;
}

#jumbo-text{
    text-align: center;
}

#jumbo-button{
    margin-left: 42%;
}